body, html, p, div, h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 1px;
}

.content {
  padding-bottom: 70px;
}

.bar.bar-nav {
  height: 70px!important;
  background: #26d6a7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #26d6a7, #689adf);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #26d6a7, #689adf);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-bottom: 0px!important;
  -webkit-box-shadow: 0px 0px 12px 2px #888;
  box-shadow: 0px 0px 12px 2px #888;
}

.bar.bar-nav .title {
  line-height: 70px!important;
  color: #fff!important;
  font-size: 1.4em;
  letter-spacing: 2px;
  font-weight: 200;
}

.bar-nav~.content {
  padding-top: 70px!important;
}

.bar.bar-tab {
  height: 70px!important;
  border-top: 0px;
  -webkit-box-shadow: 0px 0px 12px -2px #888;
  box-shadow: 0px 0px 12px -2px #888;
}

.splash {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1000;
}

.action-card {
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  min-height: 90px;
}

.action-card h3 {
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

.space-top {
  margin-top: 15px;
}

.space-bottom {
  margin-bottom: 15px;
}

.rised-card {
  overflow: hidden;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 20px -4px #888;
  box-shadow: 0px 0px 20px -4px #888;
  padding: 15px;
}

.segmented-control {
  border: 0px!important;
  border-radius: 0px!important;
  margin: 25px 0;
}

.control-item {
  border: 0px!important;
  border-radius: 0px!important;
}

.control-item.active {
  background-color: inherit!important;
  border-bottom: 5px solid #007991!important;
}

.circle-score {
  margin: 10px auto;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 20px;
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}

.btn-fab {
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #26d6a7, #689adf);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #26d6a7, #689adf);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff!important;
  border: 0px!important;
  border-radius: 15px!important;
}

.btn-fab-red {
  background: #C02425;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F0CB35, #C02425);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F0CB35, #C02425);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff!important;
  border: 0px!important;
  border-radius: 15px!important;
}

.circle-score-bg {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 30px;
  color: #000;
  line-height: 80px;
  text-align: center;
  background-color: #fff;
}

.circle-score-small {
  margin: 10px auto;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 20px;
  background: -webkit-linear-gradient(to bottom, #26d6a7, #689adf);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #26d6a7, #689adf);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.circle-score-small-bg {
  position: absolute;
  top: 6.5px;
  left: 6.5px;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  font-size: 30px;
  color: #000;
  line-height: 45px;
  text-align: center;
  background-color: #fff;
}

.circle-change-img {
  position: absolute;
  top: 6.5px;
  left: 6.5px;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  font-size: 30px;
  color: #000;
  line-height: 45px;
  text-align: center;
  background-color: #fff;
}


.score-stats {
  display: flex;
  justify-content: space-around;
}
.score-stats .stat {
  flex: 1 1 33.3%;
}

.score-stats small {
  font-size: 9px;
}

.profile-info-container {
  margin: 20px 20px 0 0;  
  
}

.clip-circle {
  clip-path: circle(60px at center);
}

.img-profile {
  float: left;
  width:214px;
  height: 210px;
  display: block;
}

.profile-info {
  margin-left: 100px;
}

.profile-info-container:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 0px;
}

.left {
width: 15%;
}

.right {
width: 75%;
}

.table-view-cell {
  border: 0px!important;
}